/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: rgb(9, 4, 41);
  color: rgb(209, 206, 206);
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

span {
  color: rgb(187, 25, 106);
}

/* Layout */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  /* padding: 20px; */
}

nav > ul {
  display: flex;
  gap: 20px;
}
.footer {
  text-align: center;
  margin-top: 20px;
}

/* Main Content */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.main {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: rgb(30, 30, 30);
  border-radius: 8px;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
